caption {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

table {
    margin: 0 auto;
}

td {
    width: 49px;
    height: 49px;
    border: 3px solid black;
    text-align: center;
    color: gray;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
}

tr:nth-child(2n+1) td:nth-child(2n),
tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: gray;
    color: white;
}

p {
    text-align: center;
}

input[type="number"] {
    width: 3em;
}

.blocked {
    border: 3px solid blue;
}

.selected {
    border: 3px solid red;
}

.unselected {
    border: 3px solid black;
}

img {
    position: relative;
    animation-fill-mode: backwards;
}