caption {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

table {
    margin: 0 auto;
    border-collapse: separate;
}

td {
    --cell-size: 10vmin;
    --min-size: 30px;
    --max-size: 50px;
    width: clamp(var(--min-size), var(--cell-size), var(--max-size));
    height: clamp(var(--min-size), var(--cell-size), var(--max-size));
    border: 3px solid black;
    text-align: center;
    color: gray;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
}

tr:nth-child(2n+1) td:nth-child(2n),
tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: gray;
    color: white;
}

p {
    text-align: center;
}

input[type="number"] {
    width: 3em;
}

.blocked {
    border: 3px solid blue;
}

.selected {
    border: 3px solid red;
}

img {
    position: relative;
    animation-fill-mode: backwards;
    width: 90%;
}