caption {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
table {
    margin: 0 auto;
}
td {
    width: 49px;
    height: 49px;
    border: 3px solid black;
    text-align: center;
    color: gray;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
}
tr:nth-child(2n+1) td:nth-child(2n), tr:nth-child(2n) td:nth-child(2n+1) {
    background-color: gray;
    color: white;
}
p {
    text-align: center;
}
.blocked {
    border: 3px solid blue;
}
#rooms {
    grid-template-columns: 33% 33% 33%;
    max-width: 40%;
    margin: 0 auto;
    gap: 10px;
}
fieldset {
    height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
